* {
    padding: 0;
    margin: 0;
    font-family: "Inter"
}

.bg-main-color {
    background-color: #6100FF;
}

.text-main-color {
    color: #6100FF;
}

.icon {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    font-size: 38px;
}

    .icon:hover {
        animation: iconanimation .5s infinite;
    }

.card-custom {
    width: 18rem;
    min-width: 15rem;
}

.separator {
    position: relative;
}

    .separator::after {
        content: "";
        width: 80%;
        height: 1px;
        position: absolute;
        background-color: #9b9b9b;
        left: 10%;
        bottom: -19%;
    }

.text-justify {
    text-align: justify;
}

.content-sect {
    font-size: 14px;
}

.w-70 {
    width: 70% !important;
}

.timeline-item {
    position: relative;
}

    .timeline-item::after {
        content: "";
        width: 1px;
        height: 80%;
        position: absolute;
        background-color: #9b9b9b;
        left: 125%;
        top: 23%
    }

.fs-15 {
    font-size: 15px;
}

@keyframes iconanimation {
    0% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        color: #520dc2;
    }

    50% {
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        color: #6100FF;
    }

    100% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        color: #520dc2;
    }
}

@-moz-keyframes iconanimation {
    0% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        color: #520dc2;
    }

    50% {
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        color: #6100FF;
    }

    100% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        color: #520dc2;
    }
}

@-webkit-keyframes iconanimation {
    0% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        color: #520dc2;
    }

    50% {
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        color: #6100FF;
    }

    100% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        color: #520dc2;
    }
}
