@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Jost', sans-serif;
    text-decoration: none;
    list-style-type: none;
}
a{
    color: currentColor;
}
body{
    background-color: #E1F7FF;
    height: 200vh;
}
header, footer, section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
header{
    background-color: white;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.father_75_per{
    width: 75%;
    display: flex;
    justify-content: center;
}
._navmenu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    padding: .5em;
}
._navmenu ul{
    text-transform: uppercase;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
}
._navmenu ul > li:nth-child(1){
    color: #E5D40F;
}
.logo_image{
    display: flex;
    justify-content: center;
    margin-top: 6.15%;
    margin-bottom: 2.15%;
}

.button_dowload_cv{
    position: relative;
    width: 25% !important;
    margin-top: 3vh;
    text-align: center;
    line-height: 5vh;
    height: 5vh;
    font-weight: 700;
    border-radius: 30px;
    max-width: 300px;
    background-color: #E5D40F;
}

._text_informat > div:nth-child(1){
    position: relative;
}

._text_informat > div{
    width: 49%;
}

._text_informat h3{
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}
._text_informat h6{
    margin-top: 2.5%;
    margin-bottom: 1.5%;
    text-align: center;
}
._text_informat{
    flex-direction: column;
    align-items: center;
}

._text_informat h2{
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

._text_informat h6{
    font-size: 14px;
}

._text_informat p{
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
    max-width: 512px;
}
._pAbsolute_img_first{
    position: absolute;
    z-index: -10;
    
}

._pAbsolute_img_first:nth-child(1){
    top: 45%;
    transform: rotate(15deg);
    left: 10%;
}

._pAbsolute_img_first:nth-child(1){
    top: 40%;
    transform: rotate(0deg);
    left: 10%;
}

._pAbsolute_img_first:nth-child(2){
    top: 8%;
    transform: rotate(-15deg);
    left: 30%;
}

._pAbsolute_img_first:nth-child(3){
    top: 19%;
    transform: rotate(30deg);
    left: 60%;
}

._pAbsolute_img_first:nth-child(4){
    top: 13%;
    transform: rotate(25deg);
    left: 80%;
}

._pAbsolute_img_first:nth-child(5){
    top: 48%;
    transform: rotate(5deg);
    left: 72%;
}

._pAbsolute_img_first:nth-child(6){
    top: 55%;
    left: 5%;
}

._pAbsolute_img_first{
    opacity: 30.5%;
}