@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Jost', sans-serif;
    text-decoration: none;
    list-style-type: none;

}

._navmenu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

._colored_selecter {
    color: #F6BE2C !important;
}

html {
    scroll-behavior: smooth !important;
}


a {
    color: currentColor;
}



._snapper {
    display: grid;

}

article {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15vh;
    scroll-snap-align: start;
}

header,
footer,
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    background-color: rgb(70, 70, 70);
    border-radius: 0 0 20px 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ul_selector li span {
    transition: 0.5s;
}

.father_75_per {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Justify_center {
    justify-content: center;
}

._art_text {
    padding: 3rem;
    justify-content: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: brightness(1);
}

.container_title_desc>div:nth-child(2) span {
    color: #E5D40F;
    filter: brightness(0.55);
}

.container_title_desc a {
    text-decoration: none;
}

section div:first-child h2 {
    margin-bottom: 1.5vh;
}

.container_title_desc p {
    font-size: 16px;
    font-weight: 600;
    margin-top: 1.5VH;
}

._navmenu {
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 998;
    width: 100%;
    padding: .5em;
}

.last_child_desc {
    width: 100%;
    position: relative;
    height: 100%;
}

.container_title_desc div:last-child img {
    width: 100%;
}

._navmenu ul {
    text-transform: uppercase;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 0 !important;
}

#carouselExampleAutoplaying img {
    max-height: 650px;
}

._navmenu span {
    color: white;
    cursor: pointer;
}

.logo_image {
    margin-bottom: 8.15%;
    display: flex;
    justify-content: center;
}

._starter_lgtBox_hard {
    cursor: pointer;
    transition: 0.5s;
}

._starter_lgtBox_hard:hover {
    transform: scale(1.05);
}

._starter_lgtBox_hard:not(:hover) {
    transition: 0.5s;
}

.button_dowload_cv {
    position: relative;
    width: 25%;
    margin-top: 3vh;
    text-align: center;
    line-height: 5vh;
    height: 5vh;
    font-weight: 700;
    border-radius: 30px;
    max-width: 300px;
    background-color: #F6BE2C;
    color: rgb(100, 50, 0);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.button_dowload_cv:hover {
    background-color: white;
    color: black;
}

.button_dowload_cv:not(:hover) {
    transition: 0.5s;
}

._text_informat>div {
    width: 49%;
}

._text_informat h3 {
    font-size: 1.2em;
    font-weight: 800;
    text-align: center;
}

._text_informat h6 {
    margin-top: 2.5%;
    margin-bottom: 1.5%;
    text-align: center;
}

._text_informat {
    flex-direction: column;
    align-items: center;
}

._text_informat h2 {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

._text_informat h6 {
    font-size: 14px;
}

._text_informat p {
    font-weight: 600;
    font-size: 0.75em;
    text-align: center;
    margin: 0 auto;
    max-width: 512px;
}

._pAbsolute_img_first:nth-child(6) {
    left: 5%;
}

._pAbsolute_img_first {
    opacity: 30.5%;
}

._container_hard {
    width: 100%;
}

._container_hard>div {
    width: 80.457%;
    padding: 4rem;
    background-color: rgba(70, 64, 64, 0.65);
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    max-width: 1280px;
    gap: 5%;
}

._container_hard>div>div:first-child {
    grid-row: 1/4;
}

._container_hard>div>div:nth-child(4) {
    grid-column: 1/3;
}

._container_hard>div>div:last-child {
    font-weight: 900;
}

._start_light_box>div {
    width: 40%;
    margin: 0;
    position: relative;
    overflow: hidden;
}

._start_light_box>div img {
    width: 100%;
}

._container_hard>div>div:nth-child(2) {
    grid-row: 1/3;
}

#button_hard_skill {
    margin: 0;
    width: 100%;
    grid-row: 2/5;
    color: rgb(100, 50, 0);
    ;
}

#button_hard_skill_contact {
    margin: 0;
    width: 100%;
    background-color: #B1AF99;
    color: rgb(100, 50, 0);
    ;
}

#button_hard_skill_contact:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}

#button_hard_skill_contact:not(:hover) {
    transition: 0.5s;
}

.linguagens-bars {
    background-color: #E5D40F;
    border-radius: 50px;
}

.percentage_language {
    font-weight: 900;
    margin-left: .5vw;
}

._lightbox {
    display: none;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: -1;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    max-width: 1250px;
}

._lightbox>div {
    width: 100%;
}

._lightbox>div:first-child {
    text-align: center;
    font-weight: 900;
    width: 100%;
    color: white;
    margin-bottom: 0.75vh;
}

._lightbox>div:last-child {
    text-align: center;
    margin-top: 1.5vh;
    color: white;
}

._lightbox.entry_ligth_configs {
    opacity: 1;
    z-index: 1000;
    overflow-y: auto;
}

._lightbox img {
    max-height: 71vh;
}

.overlay.entry_overlay {
    display: block;
    z-index: 999;
    opacity: 1;
}

.overlay {
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.75);
}

.button_close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 96.3%;
    background-color: white;
}

.container_hard_skill {
    justify-content: space-between;
    margin-top: 1.0vh;
}

.container_hard_skill img:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.container_hard_skill img:not(:hover) {
    transition: 0.5s;
}

.testimonials>div:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2%;
}

.square_testimonials {
    width: 100%;
    position: relative;
    background-color: #008F8C;
    padding: 1.3rem;
    transition: 0.5s;
    min-height: 226px;
}



/*@media (min-width:2560px){
    ._art_text{
        align-items: unset;
    }
    .max_width_1110{
        max-width: unset !important;
    }
}
*/
.max_width_1110 {
    max-width: 1100px;
}

.sectExcp {
    margin-top: 10vh;
}

/*Possivel cor: #008F8C*/
.square_testimonials>p {
    font-size: 14px;
}

.square_testimonials:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.56);
    box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.56);
}

._align_mid {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.grid_wrapper_photo_section {
    display: flex;
    flex-wrap: nowrap !important;
}

._experience_school_div {
    width: 100%;
    display: flex;
    margin-top: 3.5vh;
}

._experience_school_div img {
    width: 85% !important;
}

._experience_school_div>div:first-child {
    position: relative;
}

._contact_div>div {
    display: flex;
    flex-wrap: nowrap;
}

._contact_div>div>div:first-child h5 {
    font-weight: 900;
    margin-bottom: 5vh;
}

._contact_div form label {
    font-size: 1em;
    font-weight: 900;
}


._contact_div form input[type='text'],
input[type='email'],
input[type='tel'] {
    width: 85%;
    background-color: transparent;
    outline: none;
    border: none;
    margin-top: 3.5vh;
    border-bottom: white solid 1px;
    color: white;
}

._contact_div form>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr;
}

._contact_div>div>div {
    width: 100%;
}


.margin_bottom_inputs {
    margin-bottom: 5vh;
}

._contact_div form input[type='submit'] {
    padding: .75rem;
    background-color: #F6BE2C;
    border-radius: 30px;
    outline: none;
    border: none;
    width: 43% !important;
    font-weight: 900;
    margin: 0 auto;
    color: rgb(100, 50, 0);
}

._contact_div form input[type='submit']:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}

._contact_div form input[type='submit']:not(:hover) {
    transition: 0.5s;
}

.dFlexInput {
    display: flex;
    flex-direction: column;
}


._contact_div textarea {
    resize: vertical;
    border-radius: 30px;
    background-color: transparent;
    outline: none;
    color: white;
    border: white solid 3px;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 14px;
    padding: 1.5rem;
    min-height: 91px;
    max-height: 55vh;
}

._contact_div form input[type='button'] {
    padding: 20px;
    background-color: #F6BE2C;
    outline: none;
    border: none;
    width: 40%;
}

._contact_div form>div>div:last-child {
    grid-column: 1/3;
    text-align: center;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(36deg);
    }

    20% {
        transform: rotate(72deg);
    }

    30% {
        transform: rotate(108deg);
    }

    40% {
        transform: rotate(144deg);
    }

    50% {
        transform: rotate(180deg);
    }

    60% {
        transform: rotate(216deg);
    }

    70% {
        transform: rotate(252deg);
    }

    80% {
        transform: rotate(288deg);
    }

    90% {
        transform: rotate(324deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes scroll {
    100% {
        background-position: 0px -400%;
    }
}

body {
    animation: scroll 100s linear infinite;
    background: url('../imgs/imgs/black-glitch-effect-texture-background.jpg'),
        #111111;
    color: rgb(204, 204, 204);
    overflow-x: hidden;
    background-size: 100%;
    background-position: 100%;
}

.custom-range {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    margin-left: 3vw;
    background-size: 10px 10px;
    background-position: -2px -2px, -2px -2px;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
}

.custom-range:hover {
    opacity: 1;
}

.custom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="100" height="100"><circle cx="50" cy="50" r="40" fill="none" stroke="white" stroke-width="4"/><line x1="50" y1="10" x2="50" y2="30" stroke="black" stroke-width="4"/><line x1="50" y1="70" x2="50" y2="90" stroke="black" stroke-width="4"/><line x1="10" y1="50" x2="30" y2="50" stroke="black" stroke-width="4"/><line x1="70" y1="50" x2="90" y2="50" stroke="black" stroke-width="4"/><line x1="29" y1="29" x2="43" y2="43" stroke="black" stroke-width="4"/><line x1="71" y1="29" x2="57" y2="43" stroke="black" stroke-width="4"/><line x1="29" y1="71" x2="43" y2="57" stroke="black" stroke-width="4"/><line x1="71" y1="71" x2="57" y2="57" stroke="black" stroke-width="4"/></svg>') no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

/*https://img.freepik.com/free-vector/realistic-vhs-effect-background_23-2150087304.jpg?w=1380&t=st=1696353864~exp=1696354464~hmac=fab7aab3bb789c2217fc2d8feeb1d0417a152dc08450c964df9f0dbcf1a779da*/
/*--https://img.freepik.com/free-photo/low-angle-tree-with-starry-night-sky_23-2148282336.jpg?w=1380&t=st=1696353889~exp=1696354489~hmac=708a9d97400f04fcb5ec1e0aef1c9506d4156e1b2c5b88f44d9c32e501d5abe3*/
/*https://img.freepik.com/free-vector/vector-glitch-background-digital-image-data-distortion_1217-2116.jpg?w=826&t=st=1696353798~exp=1696354398~hmac=4b569712ec57049ed36daedb57de06cbcf8a57b93bebf8c3ccdc62c93a9c46e1*/
/*https://img.freepik.com/free-photo/pixelated-abstract-pattern-futuristic-error-message-computer-generative-ai_188544-19492.jpg?w=1380&t=st=1696353791~exp=1696354391~hmac=63d383a39668333309e237d89c810c30bdeaef05d77d610509c897cf17537d9a*/
/*https://img.freepik.com/free-photo/technology-internet-big-data-background_1387-1011.jpg?w=996&t=st=1696353625~exp=1696354225~hmac=cf96e278513aeae1e7562f6e67ba45fd79c63401053414cabb5fb50ffe6b93ea*/
/*https://img.freepik.com/free-photo/black-glitch-effect-texture-background_53876-102440.jpg?w=1380&t=st=1696353617~exp=1696354217~hmac=d83aa6988712c726dadc778d734e35dc7ae69142e1cb8c11c81067ef78ab7b84*/
/*https://img.freepik.com/free-photo/glitter-texture-background_23-2148110702.jpg?w=1380&t=st=1696353612~exp=1696354212~hmac=00164023b49701decb684629e4650e46b47622b557d73e1221da9078c306213c*/
/*https://img.freepik.com/free-photo/double-color-exposure-paint-brush-abstract-background_53876-102742.jpg?w=1380&t=st=1696353607~exp=1696354207~hmac=1cdd6b18777d8bd0b8b40f46bc6f5afacf7aae4fbf4b9247cd087367b2067816*/
/*https://img.freepik.com/free-photo/abstract-geometric-background-shapes-texture_1194-301821.jpg?w=826&t=st=1696353603~exp=1696354203~hmac=536036934674ce4219de3a33daef2fb89ebfcffd44c4f533ba5fab7e7c8dc2b2*/
/*https://img.freepik.com/free-photo/abstract-geometric-background-shapes-texture_1194-301821.jpg?w=826&t=st=1696353603~exp=1696354203~hmac=536036934674ce4219de3a33daef2fb89ebfcffd44c4f533ba5fab7e7c8dc2b2*/
/*https://previews.123rf.com/images/stevanovicigor/stevanovicigor1410/stevanovicigor141000237/33042323-abstract-computer-programming-code-as-technology-background.jpg*/
/*https://history-computer.com/wp-content/uploads/2023/03/shutterstock_1805228101-scaled.jpg*/
/*https://cdn.allaboutcookies.org/images/2022/06/24/static-ip-vs-dynamic-ip.jpg*/
/*https://img.freepik.com/free-vector/realistic-vhs-effect-background_23-2150087304.jpg*/
/*https://png.pngtree.com/background/20220727/original/pngtree-glitch-vhs-distortion-screen-vector-background-of-video-glitch-effect-with-picture-image_1840788.jpg*/
/*'https://andreivictor.ro/codepen/scroll-bg-animation-pinterest/bg_pasta_grid-3f880df3.jpg'*/
/*https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80*/

/* Fallback if the operatring system prefers reduced motion*/

@media screen and (max-width:1136.7px) {
    ._navmenu {
        width: 100%;
        height: 100vh;
        position: relative;
        left: 100%;
    }
    ._navmenu span {
        font-family: 'Anton', sans-serif;
        letter-spacing: .5vw;
        font-weight: 500;
        font-size: 2em;
    }

    input[type='range'] {
        margin: 0;
    }

    ._navmenu ul {
        flex-direction: column;
        padding: 0;
    }

    ._navmenu ul>li {
        margin-bottom: 5vh;
        text-align: center;
    }

    aside {
        width: fit-content;
        position: fixed;
        left: calc(100% - 40px);
        top: 1%;
    }
}

@media screen and (max-width: 853px) {

    .button_dowload_cv {
        min-width: 100%;
    }

    ._container_hard>div {
        grid-template-columns: 1fr;
    }

    ._container_hard>div {
        padding: 2.5rem;
    }

    #button_hard_skill,
    #button_hard_skill_contact {
        display: none;
    }

    ._start_light_box>h2 {
        font-size: 1.5em;
        min-width: 100%;
        overflow: hidden;
        text-align: center;
    }

    ._start_light_box>div {
        width: 100%;
    }

    .container_hard_skill {
        display: none;
    }

    ._start_light_box {
        overflow: hidden;
    }

    p {
        margin-bottom: 2.3rem;
        text-align: center;
    }

    ._container_hard>div>div:last-child {
        text-align: center;
    }

    .logo_image {
        width: 35% !important;
        margin-bottom: 15%;

    }

    h2 {
        text-align: center;
        margin-bottom: 2vh;
    }

    article {
        margin-bottom: 8vh;
    }

    .last_child_desc * {
        display: none;

    }

    .last_child_desc {
        height: 55vh;
        background-size: 100% 100%;
        background-color: white;
    }

    .testimonials>div:last-child {
        display: grid;
        gap: 2%;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .container_title_desc p {
        text-align: justify;
    }

    ._contact_div {
        margin-top: 10vh;
    }

    label {
        text-align: center;
    }

    ._contact_div form>div {
        display: block;
    }

    ._contact_div form input[type='text'],
    input[type='email'],
    input[type='tel'] {
        width: 100%;
    }

    ._contact_div form>div>div:nth-child(5) {
        margin-top: 7vh;
    }

    ._contact_div form>div>div:nth-child(6) {
        margin-top: 5vh;
        display: flex;
        justify-content: center;
    }
}