@page
@model Portfolio.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Sami Daniel Santos Silva" />
    <meta name="description" content="Portfolio Pessoal" />
    <meta name="keywords" content="Portfolio Pessoal Web Developer Career Student Back-end" />
</head>
<body>

</body>
</html>